.container {
  width: 100%;
  height: 20vh;
  background-color: #f5bba4;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin: 0.5em;
}
.loginBtn {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-weight: 800;
  margin: 0.5em;
}
