.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.form {
  background-color: rgb(255, 255, 255);
  padding: 3em;
  border-radius: 2em;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(158, 158, 158, 0.17);
  box-shadow: 0px 0px 7px 4px rgba(158, 158, 158, 0.17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18em;
  height: fit-content;
}

.header {
  font-size: 1.5em;
  margin: 1em;
}

.emailInput,
.psInput,
.ps2Input,
.nicknameInput,
.blognameInput {
  box-sizing: content-box;
  padding: 0.7em;
  color: #000000;
  border: #f5bba4 1px solid;
  width: 16em;
  font-size: 1em;
  margin: 0.5em;
}

.emailInput::placeholder,
.psInput::placeholder,
.ps2Input::placeholder,
.nicknameInput::placeholder,
.blognameInput::placeholder {
  color: #801414;
  font-weight: 700;
}

.item {
  text-align: center;
  color: red;
}

.signupBtn {
  box-sizing: content-box;
  width: 16em;
  font-size: 1em;
  padding: 0.7em;
  background-color: #f5bba4;
}
