.container {
  min-width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(41, 41, 40);
  border-radius: 1em;
  margin: 1.5em;
  width: 70vh;
  padding: 2em;
  box-sizing: border-box;
}

.emailInput,
.passwordInput,
.header {
  margin: 1rem 1.5em;
}

.signupBtn,
.emailInput,
.passwordInput {
  border: none;
  outline: none;
  margin: 1.5em;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
}

.signupBtn {
  font-weight: 800;
  background-color: rgb(80, 77, 77);
  color: #f3e7e7;
  cursor: pointer;
}
