.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: rgb(255, 255, 255);
  padding: 3em;
  border-radius: 2em;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(158, 158, 158, 0.17);
  box-shadow: 0px 0px 7px 4px rgba(158, 158, 158, 0.17);
  width: 18em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  margin: 1em;
}

.loginBtn,
.signupBtn {
  box-sizing: content-box;
  width: 16em;
  font-size: 1em;
  padding: 1em;
  background-color: #f5bba4;
}

.signupBtn {
  background-color: #fceee8;
}

.commentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.dash1,
.dash2 {
  border-bottom: 1px dashed;
  flex: 1;
}

.comment,
.dash1,
.dash2 {
  color: darkgrey;
}
