.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  margin: 1em;
  padding: 1em;
  font-size: 1.3em;
  border-radius: 1.5em;
  border: none;
  cursor: pointer;
  font-weight: 800;
  background-color: rgb(80, 77, 77);
  color: white;
}
